body {
background: white;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
font-weight: normal;
font-style: normal;
font-size: 14px;
line-height: 1;
color: #222222;
position: relative;
-webkit-font-smoothing: antialiased;
}

header {
	background-color: #2ba6cb;
	padding: 22px 0;
	font-family: "OpenSans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	color: #fff;
}

h1{
	margin-bottom: -0.2em;
}

.subtitle{
	color: black;
}

footer {
	background: #3f3f3f;
	color: #fff;
	padding: 11px 0;
	margin-top: 20px;
	clear: both;
}
footer p{
	font-size: 20px;
	line-height: 1.6em;
}

.label{
	width: 350px;
	height: auto;
	margin-top: 30px;
}

.hidden{
	display: none;
}

/*comment */

td{
	border-right: 1px solid lightgray;
}

td:last-child,
td:nth-child(3){
	text-align: center;
}


.confirmed{
	color:green;
}

.upc{
	margin-bottom: -0.1em;
	float:right;
}

.offset-label{
	padding-left: 50px;
}
.button .offset-label{
	padding-left: 0;
}

.button.add, 
.button.add .secondary, 
.buuton.add .offset-label{
	padding: 0.125em;
	margin: 0.125em;
	font-size: 0.80em;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.primary{
	font-weight: bold;
}

.hiddenRows .button{
	font-weight: normal;
}
.hiddenRows .button span{
	font-weight: normal !important;
	font-size: 0.75em;
}